  ------
  Usage
  ------
  Allan Ramirez
  ------
  July 2006
  ------

~~ Copyright 2006 The Apache Software Foundation.
~~
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~      http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Usage

* Generate the Report as Part of Project Reports

  To generate the Surefire report as part of the site generation, add the following in
  the <<<\<reporting\>>>> section of your POM:

+---+
<project>
  ...
  <reporting>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-surefire-report-plugin</artifactId>
        <version>${project.version}</version>
      </plugin>
    </plugins>
  </reporting>
  ...
</project>
+---+

  When <<<mvn site>>> is invoked, the report will automatically be
  included in the Project Reports menu as shown in the figure below.

[images/surefire-sample1.PNG] Sample Surefire Report

* Generate the Report in a Standalone Fashion

  The plugin can also generate the report using its standalone goal:

+---+
mvn surefire-report:report  
+---+

  A HTML report should be generated in <<<$\{basedir\}/target/site/surefire-report.html>>>.

[images/surefire-sample2.PNG] Sample standalone surefire-report

