# Auto detect text files and perform LF normalization
*        text=auto

*.xml    text diff=xml
*.xsd    text diff=xml
*.java   text diff=java
*.html   text diff=html
*.vm     text
*.fml    text
*.md     text
*.png    binary
*.class  binary
