language: java
jdk:
  - oraclejdk8
#  - oraclejdk9

script: "rm -rf .repository && mvn --show-version --no-snapshot-updates --errors --batch-mode -Prun-its clean install -Dmaven.repo.local=.repository -Denforcer.skip=true -e"

install: true

branches:
    except:
        - gh-pages
