 ------
 Selecting providers
 ------
 Kristian Rosenvold <krosenvold@apache.org>
 ------
 2010-12-04
 ------

Selecting providers

* Selecting a provider

  Surefire normally automatically selects which test-framework provider to use based on the version of
  TestNG/JUnit present in your project's classpath. In some cases it may be desirable to manually
  override such a selection. This can be done by adding the required provider as a dependency to
  the surefire-plugin.

  The following example shows how to force the junit 4.7 provider:

+---+
  [...]
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <version>${project.version}</version>
                <dependencies>
                    <dependency>
                        <groupId>org.apache.maven.surefire</groupId>
                        <artifactId>surefire-junit47</artifactId>
                        <version>${project.version}</version>
                    </dependency>
                </dependencies>
            </plugin>
  [...]
+---+

  The providers supplied with surefire are surefire-junit3, surefire-junit4, surefire-junit47 and surefire-testng.
  Please note that forcing a provider still requires that the test framework is properly set up on your project classpath.

  You can also specify multiple providers as dependencies, and they will all be run and produce a common report.
  This may be especially handy with external providers, since there are few use-cases for combining the included providers.

