  ------
  Skipping Test
  ------
  Johnny Ruiz
  Brett Porter
  Allan Ramirez
  ------
  July 2006
  ------

Skipping Tests

 To skip running the tests for a particular project, set the <<skipTests>>
 property to <<true>>.

+---+
<project>
  [...]
  <build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-failsafe-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <skipTests>true</skipTests>
        </configuration>
      </plugin>
    </plugins>
  </build>
  [...]
</project>
+---+

 You can also skip the tests via command line by executing the following command:

+---+
mvn install -DskipTests
+---+

 Since <<<skipTests>>> is also followed by the Surefire Plugin, this will have the effect
 of not running any tests.  If, instead, you want to skip only the integration tests
 being run by the Failsafe Plugin, you would use the <<<skipITs>>> property
 
+---+
mvn install -DskipITs
+---+

 If you absolutely must, you can also use the <<<maven.test.skip>>> property to skip compiling the tests.
 <<<maven.test.skip>>> is honored by Surefire, Failsafe and the Compiler Plugin.

+---+
mvn install -Dmaven.test.skip=true
+---+