  ------
  Configuring the Output Location of the Report
  ------
  Allan Ramirez
  ------
  July 2006
  ------

~~ Copyright 2006 The Apache Software Foundation.
~~
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~      http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Configuring the Output Location of the Report

  To change the location of the generated output report along with other
  project reports the <<outputDirectory>> property of both the
  <<<maven-site-plugin>>> and <<<maven-surefire-report-plugin>>> should be set to the
  desired alternative location. For more information, see the documentation of the
  {{{http://maven.apache.org/plugins/maven-site-plugin/}Maven Site Plugin}}.

+----+
<project>
  [...]
  <reporting>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-surefire-report-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <outputDirectory>${basedir}/target/newsite</outputDirectory>
        </configuration>
      </plugin>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-site-plugin</artifactId>
        <version>2.1</version>
        <configuration>
          <outputDirectory>${basedir}/target/newsite</outputDirectory>
        </configuration>
      </plugin>
    </plugins>
  </reporting>
  [...]
</project>
+----+

  Please take note that if the <<outputDirectory>> of the Site Plugin
  is not configured, the output location of the Surefire report will still
  be the default.

* Configuring the Output Location using the Standalone Goal

  To change the location of the generated output report using the standalone
  goal, the <<outputDirectory>> property should be set to the new path:

+---+
mvn surefire-report:report -DoutputDirectory=newpath
+---+
