  ------
  Feature Matrix
  ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Feature Matrix

    Since Surefire 3.6.0, all tests run via the JUnit Platform. JUnit 4 tests (4.12+) use the Vintage Engine,
    and TestNG tests (6.14.3+) use the TestNG JUnit Platform Engine.

    The following table gives a brief overview of feature support:

*---------------------------------------------+-----------+----------+----------------------+
|| <<Feature>>                                ||<<TestNG>>||<<POJO>> ||<<JUnit Platform>>   |
*---------------------------------------------+-----------+----------+----------------------+
| groups/category/tags support                |    Y      |  N       |  Y                   |
*---------------------------------------------+-----------+----------+----------------------+
| runOrder support                            |    Y      |  Y       |  Y                   |
*---------------------------------------------+-----------+----------+----------------------+
| run >1 individual test method in a class    |    Y      |  N       |  Y(*1)               |
*---------------------------------------------+-----------+----------+----------------------+
| parallel support                            |    Y      |  N       |  N(*2)               |
*---------------------------------------------+-----------+----------+----------------------+
| custom run-listener                         |    Y      |  -       |  N                   |
*---------------------------------------------+-----------+----------+----------------------+
| re-run count                                |    N      |  N       |  Y(*3)               |
*---------------------------------------------+-----------+----------+----------------------+
| skip after failure count                    |    Y      |  N       |  N                   |
*---------------------------------------------+-----------+----------+----------------------+
| Surefire Extensions                         |    Y      |  Y       |  Y(*4)               |
*---------------------------------------------+-----------+----------+----------------------+


    Legend: "Y" means supported, "N" means not supported. "?" means not tested.

    <<Note:>> JUnit 4 tests run via the JUnit Platform using the Vintage Engine. Features available
    for JUnit 4 depend on Vintage Engine support.

   (*1) The JUnit 5 Platform supports running multiple individual test methods in a single class, but there are some
   corner cases that are not supported, yet: {{{https://github.com/junit-team/junit5/issues/1343}junit-team/junit5#1343}}
   and {{{https://github.com/junit-team/junit5/issues/1406}junit-team/junit5#1406)}}.

   (*2) The tests are executed in parallel but the report supports only a sequence of test events, see the issue
   {{{https://issues.apache.org/jira/browse/SUREFIRE-1795}SUREFIRE-1795}}.

   (*3) Since 3.0.0-M4

   (*4) 3 extensions related to JUnit5 annotation <<<DisplayName>>>.
